span
{
  color: tomato;
}
html 
{
  box-sizing: border-box;
}
*, *:before, *:after 
{
  box-sizing: inherit;
}

.column 
{
  float: left;
  width: 22%;
  margin-bottom: 16px;
  margin-left: 100px;
  padding: 10px;
}
.card 
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);;
  margin: 8px;
}
.container 
{
  padding: 0 16px;
}

.container::after, .row::after 
{
  content: "";
  clear: both;
  display: table;
}

.title 
{
  color: grey;
}
@media screen and (max-width: 650px) 
{
  .column {
    width: 100%;
    display: block;
  }
}
.banner5
{
  position: relative;
  width: 100%;
  height: 80vh;
  background: url(../images/Tbg.jpg);
  background-size: cover;
  opacity: 0.5; 
}
.footer
{
  color: gray;
  background-color: rgba(6, 12, 34, 0.98);
  padding: 20px;
  font-size: 13px;
  text-align: center;
}
.column:hover {
  box-shadow: 3px 3px 50px rgba(6, 12, 34, 0.98);
}